:root{
  --primary-color :#2e86de;
  --secordary-color:#ffffff;
  --showcase-heading-desktop:50px;
  --showcase-heading-mobile:34px;
  --grid-template-columns-desktop:repeat(2,1fr);
  --grid-template-columns-mobile:1fr;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
/*Making image responsive*/
img{
  display: block;
  width: 100%;
  height: auto;
}
/*A responsive container*/
.container{
  width: 80%;
  max-width: 1100px;
  margin: auto;
}
.showcase{
  height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url("./images/womenShowcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showcase h1{
  font-weight: bold;
  font-size: var(--showcase-heading-desktop);
  padding: 0px 20px;
  color:#fff;
}
.grid{
  display: grid;
  grid-template-columns:var(--grid-template-columns-desktop) ;
  grid-gap: 20px;
  text-align: center;
  


  
 
}
.grid div{
  align-self: center;
  font-size: 19px;
}
.grid figure{
  align-self: center;
}
.common{
  width: 100%;
  
  padding: 10px 20px;
 
}
.common h1{
  margin-top: 20px;
  color:#fff;
}
.common{
  color: #fff;
}
.common:nth-child(odd){
  background-color: #2e86de;
}
.common:nth-child(even){
  background-color: #273c75;
  
}
/* OBJECTIVES SECTIO */
.objectives{
  width: 100vw;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.pexels.com/photos/317356/pexels-photo-317356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  /* text-align: center; */
  font-weight: bold; 
  padding: 0px 10px;

}
.objectives ul{
  padding-top: 40px;
}
.objectives ul li{
  margin-top: 12px;
}
.objectives h1{
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}



@media(max-width:600px){
  body,html{
    overflow-x: hidden;
  }
  .grid{
    grid-template-columns: var(--grid-template-columns-mobile);
    grid-gap: 20px;
  }
  .grid h1{
    margin-top: 20px;
  }
  .grid figure{
    margin-top: 20px;
  }
  .grid figure{
    order: 1;
  }
  .grid div{
    order: 2;
    margin-bottom: 20px;
  }
  .showcase h1{
    font-size: var(--showcase-heading-mobile);
  }
 .objectives ul{
   padding:10px;
 }
}